* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.content-area {
    display: flex;
}

.cat-list, .cat-name {
    margin: 5px;
    padding: 5px;
}

.display-area {
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
    margin: 20px 20%;
}

.display-area img {
    width: 400px;

}

.display-cat-name,
.display-click-counter{
    display: inline;
}




